<ul class="sidebar-menu">
    <li class="header">MENU</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/"><i class="fa fa-dashboard"></i> <span>Início</span></a></li>
    <li><a href="#"><i class="fa fa-folder"></i> <span>Orçamentos</span></a></li>
    <li>
        <a href="#"><i class="fa fa-edit"></i> <span>Financeiro</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-shopping-cart"></i> DAVs</a></li>
            <li><a href="#"><i class="fa fa-money"></i> Fluxo</a></li>
            <li><a href="#"><i class="fa fa-plug"></i> Lançamentos</a></li>
            <li><a href="#"><i class="fa fa-dollar"></i> Caixa</a></li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-book"></i> <span>Cadastros</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/admin/categorias"><i class="fa fa-share-alt"></i> Categorias</a></li>
            <li>
                <a href="#"><i class="fa fa-barcode"></i> <span>Produtos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/Produtos"><i class="fa fa-search"></i> Consultar</a></li>
                    <li><a href="/admin/Produtos/novo"><i class="fa fa-edit"></i> Cadastrar</a></li>
                </ul>
            <li>
                <a href="#"><i class="fa fa-users"></i> <span>Clientes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/clientes"><i class="fa fa-search"></i> Consultar</a></li>
                    <li><a href="/admin/clientes/novo"><i class="fa fa-edit"></i> Cadastrar</a></li>
                </ul>
            <li>
                <a href="#"><i class="fa fa-user-plus"></i> <span>Colaboradores</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/colaboradores"><i class="fa fa-search"></i> Consultar</a></li>
                    <li><a href="/admin/colaboradores/novo"><i class="fa fa-edit"></i> Cadastrar</a></li>
                </ul>               
            <li>
                <a href="#"><i class="fa fa-truck"></i> <span>Fornecedores</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/Fornecedores"><i class="fa fa-search"></i> Consultar</a></li>
                    <li><a href="/admin/Fornecedores/novo"><i class="fa fa-edit"></i> Cadastrar</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-pie-chart"></i> <span>Relatórios</span></a></li>
    <li><a href="#"><i class="fa fa-calendar"></i> <span>Agenda</span></a></li>    
    <li class="header">DEFINIÇÕES</li>
    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Importante</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Aviso</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Informação</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-green"></i> <span>Sucesso</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i> <span>Ação</span></a></li>
</ul>