<div class="box box-primary">
    <div class="box-body pad table-responsive">
        <div class="col-sm-6">
            <div class="box-header with-border">
                <h3 class="box-title">Menu</h3>
            </div>
            <div class="box-body treeViewCategories">
                <div id="treeViewCategories"></div>
            </div>
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box-header with-border">
                <h3 class="box-title">Cadastro</h3>
            </div>
            <div class="box-body">
                <!-- Nav tabs -->
                <form role="form" id="categoryForm" enctype="multipart/form-data" data-toggle="validator">
                    <div class="nav-tabs-custom">
                        <ul id="menuTabs" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#basicEdit" aria-controls="basicEdit" role="tab" data-toggle="tab" title="Dados Básicos">Básico</a></li>
                            <li role="presentation"><a href="#seoEdit" aria-controls="seoEdit" role="tab" data-toggle="tab" title="Search Engine Optimization">SEO</a></li>
                            <li role="presentation"><a href="#extraEdit" aria-controls="extraEdit" role="tab" data-toggle="tab" title="Dados Opcionais">Opcionais</a></li>
                            <li role="presentation"><a href="#permissionEdit" aria-controls="permissionEdit" role="tab" data-toggle="tab" title="Configurar Permissões">Permissões</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="basicEdit" aria-labelledby="basic-tab">
                                <div class="form-group has-feedback">
                                    <label class="required" for="nameTextBox">Nome:</label>
                                    <input id="nameTextBox" name="categoryName" class="form-control" type="text" placeholder="Nome da categoria ou grupo" autocomplete="off" data-error="O Nome da categoria é obrigatório" required />
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    <div class="help-block with-errors"></div>
                                    <span data-bind="text: 'ID: ' + categoryId(), visible: categoryId() > 0"></span>
                                </div>
                                <div class="form-group">
                                    <label for="descTextArea">Descrição:</label>
                                    <textarea id="descTextArea" name="categoryDesc" class="form-control" placeholder="Uma breve descrição sobre a categoria ou grupo"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="orderTextBox">Ordem:</label>
                                    <input id="orderTextBox" name="listOrder" type="number" class="form-control" value="1" />
                                </div>
                                <div class="form-group">
                                    <label>Categoria:</label>
                                    <div class="controls">
                                        <div id="availCategoriesButton">
                                            <div style="border: none;" id="mainCategories"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="seoEdit" aria-labelledby="seo-tab">
                                <div class="form-group">
                                    <label>(SEO) Nome:</label>
                                    <input id="seoNameTextBox" name="seoName" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Título da Página:</label>
                                    <input id="titlePageTextBox" name="seoPageTitle" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>(Metatag) Descrição:</label>
                                    <textarea id="metaDescTextArea" name="metaDescription" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="keywordsTextBox">(Metatag) Palavras Chave:</label>
                                    <textarea id="keywordsTextArea" name="metaKeywords" class="form-control"></textarea>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="extraEdit" aria-labelledby="optional-tab">
                                <div class="form-group">
                                    <label for="archivedCheckBox">Arquivado:</label>
                                    <div class="controls">
                                        <input id="archivedCheckBox" name="archived" type="checkbox" class="normalCheckBox switch-small" data-on-label="SIM" data-off-label="NÃO" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="hiddenCategory">Escondido:</label>
                                    <div class="controls">
                                        <input id="hiddenCheckBox" name="hidden" type="checkbox" class="normalCheckBox switch-small" data-on-label="SIM" data-off-label="NÃO" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="files">Imagem:</label>
                                    <div class="controls">
                                        <input id="files" name="files" type="file" class="file-loading" data-show-upload="false" data-show-caption="true">
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="permissionEdit" aria-labelledby="permission-tab">
                                <div class="form-group">
                                    <div id="groupsGrid"></div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <button type="submit" id="btnUpdateCategory" class="btn btn-small btn-primary margin"><i class="fa fa-check"></i>&nbsp; Adicionar</button>
                            <button id="btnCancel" class="btn btn-small margin"><i class="fa fa-chevron-left"></i>&nbsp; Retornar</button>
                            <button id="btnRemove" class="btn btn-small btn-danger margin"><i class="fa fa-times"></i>&nbsp; Excluir</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>