<div class="box box-primary">
    <div class="box-body pad table-responsive">
        <div class="col-sm-6">
            <div class="box-header with-border">
                <h3 class="box-title">Menu</h3>
            </div>
            <div class="box-body">
                <div id="treeViewCategories"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box-header with-border">
                <h3 class="box-title">Cadastro</h3>
            </div>
            <div class="box-body">
                <ul id="editCategoryMenu">
                    <li id="menu_1" title="Retornar" data-bind="visible: my.returnUrl"><i class="icon-chevron-left"></i>&nbsp;Retornar</li>
                    <li id="menu_2" class="k-state-selected" title="Dados Básicos">Básico</li>
                    <li id="menu_3" title="Search Engine Optimization">SEO</li>
                    <li id="menu_4" title="Dados Opcionais">Extra</li>
                    <li id="menu_6" title="Configurar Permissões">Permissões</li>
                </ul>
                <form role="form">
                    <div class="margin">
                        <div id="basicEdit" class="form-horizontal">
                            <div class="form-group">
                                <label class="required" for="nameTextBox">Nome:</label>
                                <input id="nameTextBox" class="form-control" type="text" data-bind="value: categoryName, valueUpdate: 'afterkeydown'" required="required" oninvalid="this.setCustomValidity('opção obrigatória')" />
                                <span data-bind="text: 'ID: ' + categoryId(), visible: categoryId() > 0"></span>
                            </div>
                            <div class="form-group">
                                <label for="descTextArea">Descrição:</label>
                                <textarea id="descTextArea" class="form-control" data-bind="value: categoryDesc"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="orderTextBox">Ordem:</label>
                                <input id="orderTextBox" type="number" data-bind="value: listOrder" class="form-control" val />
                            </div>
                            <div class="form-group">
                                <label>Categoria:</label>
                                <div class="controls">
                                    <div id="availCategoriesButton">
                                        <div style="border: none;" id="mainCategories"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin">
                        <div id="seoEdit" class="form-horizontal">
                            <div class="form-group">
                                <label>(SEO) Nome:</label>
                                <input id="seoNameTextBox" type="text" class="form-control" data-bind="value: seoName" />
                            </div>
                            <div class="form-group">
                                <label>Título da Página:</label>
                                <input id="titlePageTextBox" type="text" class="form-control" data-bind="value: seoPageTitle" />
                            </div>
                            <div class="form-group">
                                <label>(Metatag) Descrição:</label>
                                <textarea id="metaDescTextArea" class="form-control" data-bind="text: metaDesc"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="keywordsTextBox">(Metatag) Palavras Chave:</label>
                                <textarea id="keywordsTextArea" class="form-control" data-bind="text: metaKeywords"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="margin">
                        <div id="extraEdit" class="form-horizontal">
                            <div class="form-group">
                                <div class="padded"></div>
                                <label for="archivedCheckBox">Arquivado:</label>
                                <div class="controls">
                                    <input id="archivedCheckBox" type="checkbox" class="normalCheckBox switch-small" data-on-label="SIM" data-off-label="NÃO" data-bind="attr: { 'checked': archived }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hiddenCategory">Escondido:</label>
                                <div class="controls">
                                    <input id="hiddenCheckBox" type="checkbox" class="normalCheckBox switch-small" data-on-label="SIM" data-off-label="NÃO" data-bind="attr: { 'checked': hidden }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="files">Imagem:</label>
                                <div class="controls">
                                    <div class="hidden">
                                        <input name="files" id="files" type="file" />
                                    </div>
                                    <button id="btnUpload" class="dnnSecondaryAction">Anexar Imagem</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="editorTextArea">Mensagem:</label>
                                <textarea id="editorTextArea" class="form-control" data-bind="text: message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="margin">
                        <div id="permissionEdit" class="form-horizontal">
                            <div class="padded"></div>
                            <div class="form-group">
                                <div id="groupsGrid"></div>
                            </div>
                        </div>
                    </div>
                    <p>
                        <button id="btnUpdateCategory" class="btn btn-small btn-info margin" data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp; Um momento..." data-bind="html: setButton, enable: categoryName().length"></button>
                        <button id="btnCancel" class="btn btn-small margin"><i class="fa fa-chevron-left"></i>&nbsp;Retornar</button>
                        <button id="btnRemove" class="btn btn-small btn-danger margin"><i class="fa fa-times"></i>&nbsp; Excluir</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>