<div class="col-md-6">
    <!-- Application buttons -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Aplicativos</h3>
        </div>
        <div class="box-body">
            <a class="btn btn-app" href="/admin/categorias">
                <i class="fa fa-sitemap"></i> Categorias
            </a>
            <a class="btn btn-app" href="/admin/produtos">
                <i class="fa fa-barcode"></i> Produtos
            </a>
            <a class="btn btn-app" href="/admin/clientes">
                <i class="fa fa-group"></i> Clientes
            </a>
            <a class="btn btn-app" href="/admin/colaboradores">
                <i class="fa fa-user-plus"></i> Colaboradores
            </a>
            <a class="btn btn-app" href="/admin/fornecedores">
                <i class="fa fa-user-plus"></i> Fornecedores
            </a>
            <a class="btn btn-app" href="/admin/davs">
                <i class="fa fa-asterisk"></i> DAVs
            </a>
            <a class="btn btn-app" href="/admin/financeiro">
                <span class="badge bg-yellow">3</span>
                <i class="fa fa-dollar"></i> Financeiro
            </a>
            <a class="btn btn-app" href="/admin/agenda">
                <span class="badge bg-green">300</span>
                <i class="fa fa-calendar"></i> Agenda
            </a>
            <a class="btn btn-app" href="/admin/or">
                <span class="badge bg-purple">891</span>
                <i class="fa fa-cart-plus"></i> OR
            </a>
            <a class="btn btn-app" href="/admin/relatorios">
                <span class="badge bg-teal">67</span>
                <i class="fa fa-bar-chart-o"></i> Relatórios
            </a>
            <a class="btn btn-app" href="/admin/loja">
                <span class="badge bg-aqua">12</span>
                <i class="fa fa-cogs"></i> Loja
            </a>
            <a class="btn btn-app" href="/admin/orcamentos">
                <span class="badge bg-red">531</span>
                <i class="fa fa-money"></i> Orçamentos
            </a>
        </div>
        <!-- /.box-body -->
    </div>
</div>