<div class="box">
    <div class="box-header">
        {{!--<h3 class="box-title">Data Table With Full Features</h3>--}}
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="events"></div>
        <table id="people" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Empresa</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Apelido</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    <th>Login</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Empresa</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Apelido</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    <th>Login</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>