<div class="box">
    <div class="box-body">
        <div class="nav-tabs-custom">
            <ul id="personMenu" class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Dados Básicos</a></li>
                <li><a href="#tab_2" data-toggle="tab">Endereços</a></li>
                <li><a href="#tab_3" data-toggle="tab">Contatos</a></li>
                <li><a href="#tab_3" data-toggle="tab">Documentos</a></li>
                <li><a href="#tab_3" data-toggle="tab">Login</a></li>
                <li><a href="#tab_3" data-toggle="tab">Avatar (Foto)</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Mais Ações <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Agenda</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Propaganda</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Produtos</a></li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <form id="personForm" role="form" class="form-horizontal" enctype="multipart/form-data" data-toggle="validator">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <label class="radio-inline">
                                            <input id="radioPerson" name="person" type="radio" value="1" required>Física
                                        </label>
                                        <label class="radio-inline">
                                            <input id="radioBusiness" name="person" type="radio" value="0" required>Jurídica
                                        </label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liCompanyName">
                                    <label class="control-label col-md-2" for="companyTextBox">Razão Social:</label>
                                    <div class="col-md-10">
                                        <input id="companyTextBox" name="companyName" type="text" class="form-control enterastab" title="Razão Social" placeholder="Razão Social" data-error="O Nome da categoria é obrigatório" autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2" for="firstNameTextBox">Nome:</label>
                                    <div class="col-md-10">
                                        <input id="firstNameTextBox" name="firstName" type="text" class="form-control enterastab" title="Nome" placeholder="Nome" data-error="Favor inserir o nome." required autocomplete="off">
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liLastName">
                                    <label class="control-label col-md-2" for="lastNameTextBox">Sobrenome:</label>
                                    <div class="col-md-10">
                                        <input id="lastNameTextBox" name="lastName" type="text" class="form-control enterastab" title="Sobrenome" placeholder="Sobrenome" data-error="Favor inserir o seu sobrenome." autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label col-md-2" for="displayNameTextBox">Fantasia:</label>
                                    <div class="col-md-10">
                                        <input id="displayNameTextBox" name="displayName" type="text" class="form-control enterastab" title="Apelido / Fantasia" placeholder="Apelido ou Fantasia no caso de uma empresa" data-error="Inserir o apelido ou nome fantasia no caso de uma empresa. Nome e Sobrenome ou Razão Social será usado se deixado em branco." autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liPhone">
                                    <label class="control-label col-md-2" for="phoneTextBox">Telefone:</label>
                                    <div class="col-md-10">
                                        <input id="phoneTextBox" type="text" class="form-control enterastab" title="Telefone" placeholder="Telefone" data-inputmask="'mask' : '(99) 9999-9999'" data-error="Favor inserir o número de telefone para contato." autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liCell">
                                    <label class="control-label col-md-2" for="cellTextBox">Celular:</label>
                                    <div class="col-md-10">
                                        <input id="cellTextBox" type="text" class="form-control enterastab" title="Celular" placeholder="Celular" data-inputmask="'mask' : '(99) 99999-9999'" data-error="Favor inserir o número de celular para contato." autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liFax">
                                    <label class="control-label col-md-2" for="faxTextBox">Fax:</label>
                                    <div class="col-md-10">
                                        <input id="faxTextBox" type="text" class="form-control enterastab" title="Número de Fax" placeholder="Fax" data-inputmask="'mask' : '(99) 9999-9999'" autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group hidden" id="liZero0800">
                                    <label class="control-label col-md-2" for="0800TextBox">Tel. 0800:</label>
                                    <div class="col-md-10">
                                        <input id="0800TextBox" name="zero0800s" type="text" class="form-control enterastab" title="Telefone 0800" placeholder="Telefone 0800" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liCPF">
                                    <label class="control-label col-md-2" for="cpfTextBox">CPF:</label>
                                    <div class="col-md-10">
                                        <input id="cpfTextBox" name="cpf" type="text" class="form-control enterastab" title="CPF" placeholder="CPF" data-inputmask="'mask' : '999.999.999-99'" data-error="Favor inserir o seu CPF." autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liIdent">
                                    <label class="control-label col-md-2" for="identTextBox">RG:</label>
                                    <div class="col-md-10">
                                        <input id="identTextBox" name="ident" type="text" class="form-control enterastab" title="Identidade" placeholder="Identidade" data-error="Favor inserir o seu RG." autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liEmail">
                                    <label class="control-label col-md-2" for="btnCheckEmail">Email:</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input id="emailTextBox" class="form-control enterastab" type="email" placeholder="ex. nome@yahoo.com" title="Email" data-error="Favor inserir o seu endereço de email. O email é usado para se autenticar no website." autocomplete="off" />
                                            <span class="input-group-btn">
                                                <button id="btnCheckEmail" class="btn btn-default" title="Verificar">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group hidden" id="liWebsite">
                                    <label class="control-label col-md-2" for="websiteTextBox">Website:</label>
                                    <div class="col-md-10">
                                        <input id="websiteTextBox" type="text" class="form-control enterastab" title="Website" placeholder="Website" data-error="Favor inserir o endereço de seu website." autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group hidden" id="liLogin">
                                    <label class="control-label col-md-2" for="enableLoginChk">Criar Login:</label>
                                    <div class="col-md-10">
                                        <label class="checkbox">
                                            <input id="enableLoginChk" type="checkbox" />
                                            Marque p/ criar login (email obrigatório)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="registerTypes">
                                    <label class="control-label col-md-2" for="selectRegisterTypes">Grupo:</label>
                                    <div class="col-md-10">
                                        <input id="selectRegisterTypes" />
                                    </div>
                                </div>
                                <div class="form-group hidden" id="liSalesReps">
                                    <label class="control-label col-md-2" for="select2SalesPeople">Vendedor:</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <select id="select2SalesPeople" class="form-control select2">
                                                <option></option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" onclick="getSalesPeople(); return false;" value="1">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hidden" id="liIndustries">
                                    <label class="control-label col-md-2" for="industriesTextBox">Atividade:</label>
                                    <div class="col-md-10">
                                        <input id="industriesTextBox" name="industries" type="text" class="form-control enterastab" title="Profissão" placeholder="Digite 2 letras ou mais para achar a profissão">
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liEIN">
                                    <label class="control-label col-md-2" for="einTextBox">CNPJ:</label>
                                    <div class="col-md-10">
                                        <input id="einTextBox" type="text" class="form-control enterastab" title="CNPJ" placeholder="CNPJ" data-inputmask="'mask' : '99.999.999/9999-99'" data-error="Favor inserir o CNPJ da emrpesa." autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liST">
                                    <label class="control-label col-md-2" for="stateTaxTextBox">Insc. Est.:</label>
                                    <div class="col-md-10">
                                        <input id="stateTaxTextBox" name="stateTax" type="text" class="form-control enterastab" title="Incrição Estadual" placeholder="Incrição Estadual" data-error="Favor inserir a inscrição estadual da emrpesa." autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback hidden" id="liCT">
                                    <label class="control-label col-md-2" for="cityTaxTextBox">Insc. Mun.:</label>
                                    <div class="col-md-10">
                                        <input id="cityTaxTextBox" name="cityTax" type="text" class="form-control enterastab" title="Inscrição Municipal" placeholder="Inscrição Municipal" data-error="Favor inserir a inscrição municipal da emrpesa." autocomplete="off" />
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group hidden" id="liBio">
                                    <label class="control-label col-md-2" for="bioTextArea">Biografia:</label>
                                    <div class="col-md-10">
                                        <textarea id="bioTextArea" name="bio" title="Biografia" placeholder="Biografia" class="form-control enterastab"></textarea>
                                        <span id="bioArea"></span>
                                    </div>
                                </div>
                                <div class="form-group hidden" id="liComments">
                                    <label class="control-label col-md-2" for="commentsTextArea">Observações:</label>
                                    <div class="col-md-10">
                                        <textarea id="commentsTextArea" name="comments" title="Observações" placeholder="Observações" class="form-control enterastab"></textarea>
                                    </div>
                                </div>
                                <div class="form-group hidden" id="liBlocked">
                                    <label class="control-label col-md-2" for="chkBoxBlocked">Bloqueado:</label>
                                    <div class="col-md-10">
                                        <input id="chkBoxBlocked" name="blocked" type="checkbox" class="switch-small" data-on-text="SIM" data-off-text="NÃO" />
                                    </div>
                                </div>
                                <div class="form-group hidden" id="liBlockedReason">
                                    <label class="control-label col-md-2" for="txtBoxBlockedReason">Razão do bloqueio:</label>
                                    <div class="col-md-10">
                                        <textarea id="blockedReasonTextArea" name="blockedReason" title="Razão do bloqueio" placeholder="Razão do bloqueio" class="form-control enterastab"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-small btnReturn" data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp; Um momento..."><i class="fa fa-chevron-left"></i>&nbsp; Retornar</button>
                        <button id="btnUpdatePerson" type="submit" class="btn btn-small btn-inverse pull-right"><i class="fa fa-plus"></i>&nbsp; Adicionar</button>
                        <button id="btnDeletePerson" class="btn btn-small hidden" data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp; Um momento..."><i class="fa fa-ban-circle"></i>&nbsp; Desativar</button>
                        <button id="btnRemovePerson" class="btn btn-small hidden" data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp; Um momento..."><i class="fa fa-times"></i>&nbsp; Excluir</button>
                        <button id="btnRestorePerson" class="btn btn-small hidden" data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp; Um momento..."><i class="fa fa-refresh"></i>&nbsp; Restaurar</button>
                    </form>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_3">

                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>